<section class="connected">
  <div class="container">
    <div class="connected__wrap">
      <div class="connected__item">
        <div class="connected__name">Let's stay connected</div>
        <div class="connected__descr">Sign up to our newsletter for regular updates about classes & reciepes</div>
      </div>
      <div class="connected__item">
        <form action="connected" class="form-connected">
          <input type="email" name="email" placeholder="Your Email Address">
          <button class="btn-reset form-connected__btn"></button>
        </form>
      </div>
    </div>
  </div>
</section>
