<header class="header">
  <div class="container">
    <div class="header__flex">
      <a href="#" class="header__logo">
        <img src="img/logo.svg" class="logo-dark" alt="Cultivate Logo">
        <img src="img/logo-white.svg" class="logo-white" alt="Cultivate Logo">
      </a>
      <div class="header__wrap">
        <nav class="header__nav nav-menu" data-menu>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Classess</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Recipes</a></li>
          </ul>
        </nav>
        <div class="header__btns">
          <a href="#" class="btn-outline header__btn-outline btn-reset">Sign in</a>
          <a href="#" class="btn header__btn btn-reset">Free trial</a>
        </div>
      </div>
      <button class="burger" aria-label="Open menu" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
